@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                  @i.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="" width="100%" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"></p>
                            <p class="card-text"><b>Cinema:@i.Cinema_Movie.Name </b></p>
                            <p class="card-text"><b>Category:@i.MovieCategory </p>
                            <p class="card-text"><b>Start Date:@i.StartDate.ToString("MM dd yyyy") </p>
                            <p class="card-text"><b>End Date: @i.EndDate.ToString("MM dd yyyy")</p>
                           
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <a class="btn btn-success">
                                Add Card
</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

